
:root {
    --bg-color: #000000;
    --primary-color: #365e9f;
    --secondary-color: #98d1ff;
    --third-color: #46a9db;
    --third-bis-color: #4650dbf2;
    --bg-input-color: #4f31572c;
}

body {
    background-color: var(--bg-color);
    color: white;
}

/* 
body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} */

a {
    text-decoration: none;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0deg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.header{
    border: 3px solid rgb(113, 245, 25);
    display: flex;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar{
    background-color: transparent;
    width: 100%;
}

.nav-links{
    text-decoration: none;
    /* background-color: transparent; */
}

.nav-links ul{  
    margin-right: 0;
    color: rgb(255, 255, 255);
    list-style-type: none;
    margin-top: 15px;
    text-align: right;
    background-color: transparent;
    
}

.nav-links ul li{
    display:inline-block;
    border-right: 1px solid #bbb;
}

.nav-links li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 8px;
    padding: 14px 16px;
}

.nav-links a:hover {
    text-decoration:none;
    color: var(--secondary-color);
}

.nav-links li:hover {
    color: var(--secondary-color);
    background-color: #9fe917;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--primary-color);
    border: 3px solid blue;
    padding-top: 60px;
}

.main {
    flex: 70%;
    background-color: var(--bg-color);
    padding: 20px;
}

.fakeimg {
    background-color: var(--bg-color);
    width: 100%;
    z-index: 9999;
}

.btn-contacto {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.btn-contacto:hover {
    color: var(--secondary color) !important;
    border: 2px solid var(--secondary-color);
}

/* Estilo para la tarjeta del banner */
.container-nombre {
    color: #FFF;
    margin: 5px auto;
    text-align: center;
    padding: 2 160px;
    max-width: 1200px;
}

.container-nombre h1 {
    font-size: 4vw;
    margin-top: 30px;
}

.container-nombre h2 {
    margin-bottom: 20px;
}

.container-nombre h3 {
    margin-bottom: 20px;
}

/* CLASES PARA LA BIOGRAFIA */
.bio-box{
    display: flex;
    margin: 4rem;
    padding: 2rem;
}

.bio-artist img{
    float: left;
    max-width: 400px;
    width: 100%;
    margin-right: 3rem;
}

.bio-artist h2, .bio-obra h2{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.bio-artist p, .bio-obra p, .bio-obra h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.bio-obra img{
    float: right;
    max-width: 400px;
    width: 100%;
    margin-left: 3rem;
}

/* estilo de imagen de bio */
.bio img{
    border: 3px solid #0f0f0f;
    border-radius: 50%;
}

.bio-obras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: 
    'Img1 Img2 Img2 Img2'
    'Img1 Img3 Img3 Img4'
    'Img1 Img5 Img6 Img6';
    grid-gap: 2rem;
    padding: 5rem;
    max-width: 200vh;
}

.bio-obras .img1{
    grid-area: Img1;
}

.bio-obras .img2{
    grid-area: Img2;
}

.bio-obras .img3{
    grid-area: Img3;
}

.bio-obras .img4{
    grid-area: Img4;
}

.bio-obras .img5{
    grid-area: Img5;
}

.bio-obras .img6{
    grid-area: Img6;
}

.bio-obras .bio-item{
    position: relative;
    background-color: #f7f4f4;
}

.bio-obras .bio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* top: 0;
    left: 0;
    position: absolute; */
}


/* Contenedor principal de la prensa. */
.container-prensa {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 700px;
    margin-block: 2rem;
    gap: 2rem;
}
  
.container-prensa img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}
    
    /* estilo de la carta de noticias indidividual */
.card {
    display: flex;
    margin-left:1%;
    margin-right: 1%;
    flex-direction: column;
    width: clamp(10rem, calc(30% + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

/* estilo body de la card */
.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}
  
/* .tag + .tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
} */
  
.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}
  
.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}
  
.user {
    display: flex;
    gap: .5rem;
}
  
.user__image {
    border-radius: 50%;
}
  
.user__info > small {
    color: #666;
}


/* ---------- CSS PARA PRENSA.HTML ---------- */
    .main-prensa{
        flex: 70%;
        background-color: var(--bg-color);
    }

    .body-prensa{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif';
    }

    article.tarjeta{
        max-width: 350px;
        background-color: var(--bg-input-color);
        border-radius: 8px;
        margin: 16px;
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
        align-items: center;
    }

    .tarjeta-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-tarjeta img{
        border-radius: 8px 8px 0 0;
        max-height: 200px;
        height: 200px;
        width: 100%;
    }

    .tarjeta footer{
        padding: 0 16px;
    }

    .tarjeta:hover {
        box-shadow: 0px 0px 12px #d7d7d7;
    }
    
    .link-tarjeta{
        display: flex;
        flex-flow: column;
        margin: auto;
        padding: 10px;
    }

    .contacto-prensa, .contacto-prensa div{
        margin: auto;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .footer-prensa {
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        margin: 0 auto;
        background-color: var(--primary-color)
    }
    
    .footer-prensa img{
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: auto;
        cursor: pointer;
    }
    
    .footer-prensa ul{
        list-style: none;
        padding-top: 10px;
    }
    
    .footer-prensa li{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .footer-prensa a {
        margin-left: 10px;
    }
    
/* --------- FIN CSS PRENSA.HTML --------- */

#footer{
    background-color: var(--bg-input-color);
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
}

#footer a {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

#header img {
    height: 20px;
    width: auto;
    border-radius: 50%;
}

#logo:hover {
    animation: tilt-n-move-shaking 0.5s infinite;
}

#nombre {
    display: flex;
    border: 3px solid blue;
    background-image: url('../img/BannerFirma.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    height: 220px;
    box-shadow: inset 0 0 0 2000px rgba(34, 34, 34, 0.5);
    margin-top: 50px;
    justify-content: center;
}

#bio{
    display: flex;
    flex-direction: row;
    border: 3px solid blue;
    flex-wrap: wrap;
    justify-content: center;
}

#sobre-mi{
    text-align: left;
    background-color: #f7f4f4;
    border: 3px solid #0f0f0f;
    margin: 10px;
    padding: 20px;
}

/* caja principla del portfolio con su estilo */
#portfolio{
    display: flex;
    max-width: 100vw;
    width: 100%;
    flex-wrap:nowrap;  
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(rgba(37, 39, 41, 0.8),rgba(62, 20, 139, 0.8));
    border: 3px solid blue;
}
/* formato de imagenes del portfolio */
#lista-portfolio img{
    width: 200x;
    height: 200px;
    object-fit: cover;
    object-position: center;
    padding: 6px;
}
/* animacion del mouse sobre imagen de la galeria hover */
#lista-portfolio img:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
    transform: rotate(-1.2deg)scale(1.05);
    transition: 0.6s ease-out;
    filter: grayscale(0.9);
}

/* caja priciopa de lista de prensa */
#lista-prensa{
    display: flex;
    border: 3px solid blue;
    justify-content: center;
}
/* Defino la vista de las cartillas de noticias */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* caja prinicipal de contacto */
#contacto{
    display: flex;
    border: 3px solid blue;
    justify-content: center;
}

/* Estilo para el footer para cuando se pasa el mouse */
/* #footer a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
} */

/* Estilo para el footer */
#footer{
/* align-items: center;
    background-color: var(--bg-input-color);
    display: flex;
    height: 100px;
    width: 100%; */

    padding: 35px 0;
}

#footer .content{
    text-align: center;
    border-bottom:  1px solid rgb(78, 190, 218);
    padding: 0 0 30px;
    margin: 0 0 30px;
}

#footer .social{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0 0 20px;

}

#footer .social li{
    padding: 0 15px;
}

@media (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column; /*Cambio de horizontal a vertical en ambas clases*/
    }
}