<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Externo -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Favicon -->
    <link rel="icon" href="../static/img/OskyFavicon.ico">

    <script src="https://kit.fontawesome.com/9255801f03.js" crossorigin="anonymous"></script>

    <title>OSKY DI BIASE - Portfolio</title>

</head>

<body>
    <!-- ENCABEZADO-->
    <header class="header">
        <!-- NAVEGACION PRINCIPAL -->
        <a href="../index.html">
            <div id="logo" style="height:fit-content">
                <img src="../static/img/imglogo.jpg" alt="imglogo">
            </div>
        </a>
        <nav class="navbar">
            <div class="nav-links">
                <!-- Hipervinculos -->
                <ul>
                    <li><a href="../templates/bio.html">Sobre mí</a></li>
                    <li><a href="../templates/prensa.html">Prensa</a></li>
                    <li><a href="../templates/contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <!-- MAIN -->
    <main>
        <!-- Trabajos -->
        <!-- Comienza la seccion de galeria -->
        <section id="galeria">
            <!-- flexbox container general de la galeria. -->
            <div class="flexbox-container-galeria">
                <!-- Titulo -->
                <div id="banner-galeria">
                    <h1 id="titulo-portfolio">Portfolio</h1>
                </div>

                <!-- Subtitulo Murales -->
                <h2 class="banner-subtitulos">MURALES</h2>

                <!-- Flex general de murales -->
                <div class="container-categorias">
                    <!-- Clase contenedora de imagen -->
                    <ul class="list-imagen-obra">
                        <li>
                            <div class="marco-imagen-obra">
                                <img id="imagen-g-portfolio" src="../static/img/Galeria/Porfolio-M-Te_Vere_Volver.jpg"
                                    alt="imagen" onclick="mostrarModal(this)">
                                <!-- Clase flex descripcion murales. -->
                                <h1 class="titulo-obra">"Te veré volver"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>

                        <!-- Repite estructura por cada imagen -->
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Porfolio-M-Ojos_de_diamante.png" alt="imagen">
                                <h1 class="titulo-obra">"Ojos de Diamante"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>

                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio" src="../static/img/Galeria/Porfolio-M-Al-Maestro.jpg"
                                    alt="imagen">
                                <h1 class="titulo-obra">"Al Maestro"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Porfolio-M-La_hija_del_rock.jpg" alt="imagen">
                                <h1 class="titulo-obra">"La hija del Rock"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Porfolio-M-Nuestra_Señora_de_Fatima.jpg" alt="imagen">
                                <h1 class="titulo-obra">"Nuestra Señora de Fátima"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Porfolio-M-Vuelta_Al_Universo.jpg" alt="imagen">
                                <h1 class="titulo-obra">"Vuelta al Universo"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Categoria cuadros -->
                <h2 class="banner-subtitulos">CUADROS</h2>
                <!-- Flex general de cuadros -->
                <div class="container-categorias">
                    <!-- Clase contenedora de imagen -->
                    <ul class="list-imagen-obra">
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio" src="../static/img/Galeria/Porfolio-C-.jpg"
                                    alt="imagen">
                                <!-- Clase flex descripcion murales. -->
                                <h1 class="titulo-obra">Mouras</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <!-- Repite estructura por cada imagen -->
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Porfolio-C-Jinete_en_su_tormenta.jpg" alt="imagen">
                                <h1 class="titulo-obra">"Jinete en su tormenta"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>

                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Porfolio-C-Alma_de_diamante.jpg" alt="imagen">
                                <h1 class="titulo-obra">"Alma de diamante"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio" src="../static/img/Galeria/Porfolio-C-Mouras.jpg"
                                    alt="imagen">
                                <h1 class="titulo-obra">Mouras</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio" src="../static/img/Galeria/Porfolio-C-Rubber-Soul.jpg"
                                    alt="imagen">
                                <h1 class="titulo-obra">"Rubber Soul"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio" src="../static/img/Galeria/Porfolio-C-Un_Tal_Julio.jpg"
                                    alt="imagen">
                                <h1 class="titulo-obra">"Un tal Julio"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Otros -->
                <h2 class="banner-subtitulos">OTRAS CREACIONES</h2>
                <div class="container-categorias">
                    <!-- Clase contenedora de imagen -->
                    <ul class="list-imagen-obra">
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="/static/img/Galeria/Porfolio-C-Tus_ojos_nunca_mentiran.jpg" alt="imagen">
                                <!-- Clase flex descripcion murales. -->
                                <h1 class="titulo-obra">"Tus ojos nunca mentirían"</h1>
                                <h1 class="descripcion-murales">Mouras</h1>
                            </div>
                        </li>
                        <!-- Repite estructura por cada imagen -->
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Porfolio-C-Ojos_de_video_tape.jpg" alt="imagen">
                                <h1 class="titulo-obra">"Ojos de video tape"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>

                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Porfolio-C-El_ojo_que_mira_al_magma.jpg" alt="imagen">
                                <h1 class="titulo-obra">"El ojo que mira al magma"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Porfolio-C-El_ojo_blindado.jpg" alt="imagen">
                                <h1 class="titulo-obra">"El ojo blindado"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Portfolio-C-Ojos_de_ciudad.jpg" alt="imagen">
                                <h1 class="titulo-obra">"Ojos de ciudad"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                        <li>
                            <div class="marco-imagen-obra">
                                <img class="imagen-g-portfolio"
                                    src="../static/img/Galeria/Portfolio-C-Los_ojos-ciegos_bien_abiertos.jpg"
                                    alt="imagen">
                                <h1 class="titulo-obra">"Los ojos ciegos bien abiertos"</h1>
                                <p class="descripcion-murales">Técnica: Mosaiquismo y pintura en acrílico.<br>
                                    Medidas: 60 x 45 centímetros </p>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </section>
        <!-- Contacto -->
        <h1 class="banner-subtitulos">CONTACTO</h1>
        <section id="contacto">
            <ul>
                <li>
                    <div id="imagen-logo-contacto" class="fakeimg">
                        <img src="/static/img/imglogo.jpg" alt="imagen">
                    </div>
                </li>
                <li>
                    <p>Si querés contactarme por consultas, presupuestos o contrataciones</p>
                    <p>¡no dudes en hacerlo!</p>
                </li>
                <li>
                    <button class="btn-contacto">
                        <a href="contacto.html" style="font-size:large; color: white;">Escribime!</a>
                    </button>
                </li>
            </ul>
        </section>

    </main>

    <!-- PIE DE PÁGINA -->
    <footer>
        <div class="footer">
          <div class="content">
            <ul class="social">
              <li>
                <i class="fa-solid fa-mobile-screen-button"></i>
                <a href="tel:+5491157213535" target="_blank">+54 9 11 5721 3535</a>
              </li>
              <li>
                <i class="fa-brands fa-instagram"></i>
                <a href="https://www.instagram.com/oskydibiasearte/" target="_blank">@oskydibiasearte</a>
              </li>
              <li>
                <i class="fa-brands fa-facebook-f"></i>
                <a href="https://www.facebook.com/osky.dibiase/" target="_blank">/oskydibiasearte</a>
              </li>
              <li>
                <i class="fa-regular fa-envelope"></i>
                <a href="mailto:oskydibiasearte@gmail.com" target="_blank">oskydibiasearte@gmail.com</a>
              </li>
            </ul>
            <hr>
            <p><b>Todos los derechos reservados.</b></p>
            <p><b>© 2024 Osky Di Biase</b></p>
          </div>
        </div>
      </footer>
  

</body>

</html>